# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Snow Warriors.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\User\OneDrive\Snow Warriors\.idea\.idea.Snow Warriors\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
